.logo {
  display: block;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.primary,
.responsiveLarge {
  min-width: 120px;
}

.wordmark {
  min-width: 90px;
}

.symbol {
  min-width: 24px;
}
